.create_event{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.create_event .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.90);
}

.create_event .holder{
    position: absolute;
    width: 450px;
    height: auto;
    background: #efefef;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
}

.create_event .holder h2{
    font-size: 18px;
}

.create_event .holder p{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size: 11px;
    margin-bottom: 20px;
}

.create_event .holder .nxt{
    display: none;
}

.create_event .holder .event_type{
    position: relative;
    width: 100%;
    height: 70px;
    background: #fff;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    transition: 0.1s;
    overflow: hidden;
}

.create_event .holder .event_type:focus-within{
    border: 2px solid rgba(2, 211, 249, 0.9);
    height: 170px;
    overflow: visible;
}

.create_event .holder .event_type .plan{
    position: relative;
    width: fit-content;
    height: 70px;
    display: flex;
    padding: 10px;
}

.create_event .holder .event_type .plan .radio{
    position: relative;
    width: 15px;
    margin-right: 10px;
}

.create_event .holder .event_type .plan p{
    position: relative;
    margin-top: 11px;
    width: fit-content;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.2px;
    font-weight: bold;
}

.create_event .holder .event_type .plan p span{
    font-size: 10px;
    display: block;
    color: #9b9b9b;
    font-weight: 300;
}

.create_event .holder .event_type .price{
    position: relative;
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.create_event .holder .event_type .price p{
    position: relative;
    margin-top: 11px;
    width: fit-content;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.2px;
    font-weight: bold;
    text-align: right;
}

.create_event .holder .event_type .price p span{
    font-size: 10px;
    display: block;
    color: #9b9b9b;
    font-weight: 300;
}

.create_event .holder .event_type .event-details{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px 20px 10px 20px;
}

.create_event .holder .event_type .event-details li{
    font-size: 13px;
    margin-bottom: 10px;
    list-style: square;
}

.create_event .holder .event_type .event-details button{
    position: absolute;
    width: fit-content;
    padding: 0px 10px;
    font-size: 11px;
    height: 25px;
    right: 0;
    bottom: 20px;
    border-radius: 10px;
    background: #000;
    cursor: pointer;
}

.event-q input{
    width: 100%;
    margin: 0px auto 10px auto;
    display: block;
}

.event-q label{
    font-size: 11px;
    width: 100%;
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
}

.location-tab{
    position: relative;
    width: 100%;
    height: 40px;
    background: #cbcbcb;
    margin: 10px 0 30px 0   ;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    gap: 1px;
}

.location-tab button{
    position: relative;
    width: 50%;
    padding: 0 20px;
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    color: #000;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.22);
    white-space: nowrap;
}

.location-tab button:hover{
    background: rgba(2, 211, 249, 0.9);
}

.location-tab button:focus{
    background: rgba(2, 211, 249, 0.9);
}

.price-control{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
}

.price-control input{
    padding-left: 31px;
}

.price-control span{
    position: absolute;
    left: 0;
    margin: 13px 20px;
    z-index: 2;
}

.time-hold{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.time-control{
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.time-control label{
    display: block;
    width: 100%;
}

.time-control input{
    width: 100%;
    margin: 0 10px 0 0;
    font-size: 15px;
    font-weight: 600;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}

.time-control span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    display: block;
    font-size: 15px;
    margin: 14px 39px;
    letter-spacing: -0.9px;
    font-weight: 600;
}

.create_event .holder .action{
   position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.btn-nxt{
    position: relative;
    width: fit-content;
    padding: 0 20px;
    height: 50px;
    background: #000;
    color: #fff;
    border-radius: 30px;
}

/*////////////////////////////////////////////*/
/*////////////////////////////////////////////*/

.e-success{
    position: relative;
    width: 100%;
    height: auto;
    display: none;
    animation: slideInLeft;
    animation-duration: 0.6s;
}

.e-success i{
    position: relative;
    width: fit-content;
    height: auto;
    font-size: 50px;
    margin: 20px auto;
    display: block;
    animation: tada;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.e-success h2{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.e-success p{
    position: relative;
    width: 80%!important;
    height: auto;
    text-align: center;
    margin: 10px auto;
    display: block;
}


.e-success button{
    position: relative;
    width 300px;
    height: 45px;
    padding: 0 50px;
    border-radius: 40px;
    margin: 0 auto;
    background: #000;
}