@media (min-width: 0px) and (max-width: 800px) {
    .dash .col:first-child {
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: -100%;
        opacity: 0;
        z-index: 1;
        padding: 20px;
    }

    .dash .logo {
        position: relative;
        width: fit-content;
        margin: 10px 5px 40px 0;
        display: block;
        border-bottom: none;
        border-right: none;
    }

    .dash .logo h2 i {
        font-size: 30px;
    }

    .dash .logo .logo-initial {
        display: block;
        font-size: 25px;
    }

    .nav-close {
        position: absolute;
        right: 0;
        top: 0;
        width: fit-content;
        font-size: 30px;
        margin: 38px 20px;
        cursor: pointer;
        display: block;
    }

    .dash nav li {
        margin-bottom: 40px;
        gap: 10px;
    }

    .dash nav .li-name {
        display: block;
        font-size: 15px;
    }

    .dash nav li i {
        position: relative;
        font-size: 19px;
        top: 4px;
    }

    /*///////////////////////////////////*/
    /*///////////////////////////////////*/

    .dash .col .heading {
        justify-content: space-between;
    }

    .dash .col .heading .nav-open {
        display: block;
        padding: 10px;
        font-size: 20px;
        margin-left: 10px;
    }

    .dash .col .heading .user {
        width: 100%;
    }

    .dash .col .heading .user .user-details {
        width: fit-content;
        padding-left: 5px;
        padding-right: 10px;
    }

    .dash .col .heading .user .user-details i {
        width: fit-content;

    }

    .dash .col .heading .user .user-details p {
        font-size: 12px;
        padding-top: 16px;
    }

    .dash .col .heading .user .user-details span {
        width: fit-content;
        top: 50px;
        gap: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: none;
    }

    .dash .col .heading .user .user-details:hover span {
        display: flex;
    }

    .msg {
        margin: 60px 10px;
    }

    .page-intro {
        padding: 20px 20px;
    }

    .page-intro h2 {
        font-size: 19px;
    }

    .page-intro button {
        height: 35px;
        font-size: 10px;
        padding: 0 15px !important;
    }

    /*///////////////////////////////////*/
    /*///////////block///////////////////////*/

    .dash .col section {
        padding: 10px;
    }

    .stats {
        position: relative;
        top: 0px;
        width: 95%;
        height: auto;
        background: rgba(0, 0, 0, 0);
        border-radius: 20px;
        margin: 10px auto 10px auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: none;
        padding: 10px;
        align-items: center;
        gap: 10px;
        z-index: 1;
    }

    .stats .holder {
        margin: 20px;
        background: #000;
        width: 45%;
        min-width: 150px;
        height: auto;
        border-radius: 20px;
        margin: 0 auto;
        display: block;
        padding: 20px;
    }

    .stats i {
        position: relative;
        font-size: 25px;
        color: #fff;
        width: 50px;
        height: 50px;
        border: none;
        text-align: center;
        border-radius: 30px;
        margin-right: 0px;
        padding-top: 0px;
    }

    .dash-top-nav {
        padding: 10px;
        gap: 0px;
    }

    .dash-top-nav li {
        top: 13px;
        font-size: 11px;
        padding-left: 10px;
    }

    .hd {
        display: none;
    }

    .td {
        padding: 10px;
        width: 90%;
        height: auto;
        display: block;
    }

    .td .img-hold {
        width: 100%;
        padding-top: 10px;
    }

    .td img {
        position: relative;
        bottom: 10px;
        width: 100%;
        height: auto;
        border-radius: 0px;
        margin-right: 0px;
        border-radius: 5px;
    }

    .td span:nth-child(2) {
        font-weight: bold;
        font-size: 14px;
        color: #000;
    }

    .td span {
        width: 100%;
        display: block;
        text-align: left;
        margin-bottom: 0px;
        color: #808080;
    }

    .event-action {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }

    .event-action i {
        position: relative;
        display: block;
        width: fit-content;
        font-size: 18px;
        float: right;
    }

    .event-action .action {
        position: absolute;
        right: 0;
        width: 80px;
        top: 0;
        right: 0;
        display: none;
        background: #fff;
    }

    /*///////////////////////////////////*/
    /*///////////////////////////////////*/

    .tickets-holder .tickets {
        width: 100%;
    }

    /*///////////////////////////////////*/
    /*///////////////////////////////////*/

    .settings .form-control {
        width: 100%;
        padding: 10px;
    }

    .settings .form-control input {
        width: 100%;
    }

    .settings .form-control button {
        width: 100%;
    }

    .settings .account-details {
        width: 100%;
        border-radius: 0px;
        padding: 10px;
    }

    .settings .account-details h2 {
        font-size: 19px;
    }

    /*///////////////////////////////////*/
    /*///////////////////////////////////*/

    .in-app-msg {
        width: 100%;
    }

}
