.events {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.events .col {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #efefef;
    overflow-y: scroll;
}

.events .col:first-child {
    min-width: 23%;
    width: 23%;
    padding: 20px;
}

.events .col:last-child {
    padding-bottom: 170px;
}

.events .col .title {
    font-size: 13px;
    margin: 20px 5px;
}

.events .col .holder {
    position: relative;
    width: 80%;
    height: 200px;
    background: #fff;
    margin: 10px 30px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.events .col .holder img {
    position: relative;
    width: 250px;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.events .col .holder .write-up {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    z-index: 2;
}

.events .col .holder .write-up h2 {
    position: relative;
    width: 80%;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
}

.events .col .holder:hover .write-up h2 {
    color: rgba(0, 158, 186, 0.9);
}

.events .col .holder .write-up p {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 13px;
    font-weight: 600;
    color: #717171;
    margin-bottom: 3px;
    cursor: pointer;
}

.events .col .holder .write-up .promo {
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    font-size: 10px;
    background: #efefef;
    padding: 3px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.events .col .holder .write-up span {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 13px;
    letter-spacing: -0.3px;
    cursor: pointer;
}

.events .col .holder i {
    position: absolute;
    top: 100px;
    right: -60px;
    font-size: 240px;
    color: #efefef;
    transform: rotate(55deg);
    transition: 0.5s ease-in-out;
}

.events .col .holder:hover i {
    top: 90px;
    right: 0px;
    color: rgba(197, 244, 255, 0.62);
}

@media (min-width: 0px) and (max-width: 1200px) {
    .events {
        height: auto;
        flex-wrap: wrap;
    }

    .events .col {
        height: auto;
    }

    .events .col:first-child {
        min-width: 80%;
        width: 80%;
        padding: 20px;
        margin: 10px auto;
    }

    .events .col:first-child::-webkit-scrollbar {
        display: none;
    }

    .events .col .holder {
        width: 90%;
        margin: 10px auto;
    }
}

@media (min-width: 0px) and (max-width: 990px) {
    .events .col:first-child {
        min-width: 80%;
        width: 90%;
        padding: 0 20px;
        margin: 10px auto;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    .events .col:first-child {
        width: 100%;
        padding: 0 15px;
        margin: 5px auto;
    }

    .events .col .holder {
        height: auto;
        display: block;
    }

    .events .col .holder img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        z-index: 1;
    }

    .events .col .holder .write-up h2 {
        width: 100%;
    }

    .events .col .holder i {
        top: 85%;
        right: -60px;
        font-size: 240px;
    }

    .events .col .holder:hover i {
        top: 70%;
        right: -20%;
    }
}
