* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d3d3d3;
    border-radius: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    /*    position: relative;*/
    background: #efefef;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 60px;
}

.header {
    position: relative;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid #e0e0e0;
    z-index: 5;
}

.header .menu-li{
    display: none;
}

.header .close-li{
    display: none;
}

.create {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: #000000;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 17px 0px;
    cursor: pointer;
    transition: 0.5s;
}

.create:hover {
    background-image: linear-gradient(45deg, rgba(2, 211, 249, 0.9), rgb(0, 245, 188));
}

.create:hover p {
    /*    color: #000;*/
    font-size: 12px;
    font-weight: bold;
}

.create:hover i {
    color: rgba(2, 211, 249, 0.9);
}

.create i {
    position: relative;
    bottom: 7px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: #000;
    text-align: center;
    padding: 7px 0;
    display: block;
    margin-right: 5px;
    background: #fff;
}

.create p {
    color: #fff;
    font-size: 11px;
    transition: 0.5s;
    letter-spacing: -0.5px;
    font-weight: bold;
}

.right-side-nav {
    position: relative;
    display: flex;
    gap: 20px;
}

.top-nav {
    position: relative;
    width: fit-content;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.top-nav li {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    margin: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: -0.4px;
    font-weight: 600;
}

.top-nav li:hover {
    font-weight: bold;
    color: rgba(0, 170, 201, 0.9);
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
}

.user i {
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 30px;
}

.user .drop-down {
    position: absolute;
    right: 0;
    width: fit-content;
    height: auto;
    background: #fff;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
    display: none;
}

.user:hover .drop-down {
    display: block;
}

.user .drop-down li {
    position: relative;
    min-width: 100%;
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding: 10px 30px 0 20px;
    border-bottom: 1px solid rgba(162, 162, 162, 0.62);
    display: flex;
    white-space: nowrap;
}

.user .drop-down li i {
    position: relative;
    bottom: 10px;
    height: auto;
    font-size: 13px;
    color: #383838;
    width: fit-content;
    margin-right: 10px;
}

.user .drop-down li:hover {
    background: #dbdbdb;
}

.search-area {
    position: relative;
    width: fit-content;
    height: auto;
    margin: 10px auto 50px auto;
    display: block;
}

.search-area p {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.search-area h3 {
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.9px;
    margin-bottom: 10px;
}

.category {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.category li {
    position: relative;
    width: fit-content;
    height: auto;
    display: block;
    margin: 0 10px;
}

.category li i {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(45deg, rgba(2, 211, 249, 0.9), rgb(0, 245, 188));
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    transition: 0.5s;
    font-size: 20px;
    padding-top: 15px;
    transition: 0.4s ease-in-out;
}

.category li:hover i {
    transform: rotate(360deg);
}

.category li i:hover {
    top: 6px;
}

.category li span {
    position: relative;
    width: 100%;
    font-size: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color: #000;
    text-align: center;
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

.mobile-menu ul {
    position: relative;
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: #000000;
    border-radius: 50px;
    margin: 0 auto;
    padding: 10px 10px;
}

.mobile-menu ul li {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    padding-top: 13px;
    font-size: 18px;
    transition: 0.6s;
}

.mobile-menu ul li:hover {
    background: #fff;
    color: #000;
}

.mobile-menu ul li:first-child{
    background: #fff;
    color: #000;
}

/*///////////////////////////////////*/
/*///////////////////////////////////*/

.near-event-card::-webkit-scrollbar {
    display: none;
}

.near-event-card {
    overflow-x: visible;
}

.flex-hold {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-top: 30px;
}

.flex-hold::-webkit-scrollbar {
    display: none;
}

.title {
    position: relative;
    width: 100%;
    height: auto;
}

.title h1 {
    position: relative;
    font-size: 20px;
    padding-left: 0px;
    letter-spacing: -0.7px;
    margin-bottom: 10px;
}

.title p{
    font-size: 11px;
}

.near-event-card .card-control {
    position: relative;
    width: 300px;
    min-width: 310px;
    height: 190px;
    background: #000000;
    border-radius: 20px;
    padding: 30px 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
}

.near-event-card .active-card {
    bottom: 10px;
    width: 390px;
    min-width: 400px !important;
    height: 210px;
}

.near-event-card .card-control:nth-child(even) {
    bottom: 10px;
    height: 210px;
}

.near-event-card .card-control:hover {
    width: 390px;
    min-width: 400px !important;
    /*    height: 200px;*/
}

.near-event-card .card-control h2 {
    position: relative;
    font-size: 20px;
    line-height: 29px;
    width: 80%;
    margin-bottom: 10px;
    z-index: 2;
    color: #ffffff;
    display: none;
}

.near-event-card .card-control span {
    position: relative;
    font-size: 13px;
    z-index: 2;
    color: #ffffff;
    display: none;
}

.near-event-card .card-control:hover h2 {
    display: block;
}

.near-event-card .card-control:hover span {
    display: block;
}

.near-event-card .card-control button {
    position: absolute;
    top: 70%;
    left: 0%;
    bottom: 0;
    width: 150px;
    height: 45px;
    background-image: linear-gradient(45deg, rgba(2, 211, 249, 0.9), rgb(0, 245, 141));
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    border-radius: 0 20px 20px 0px;
    z-index: 2;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: block;
}

.near-event-card .card-control button i {
    transform: rotate(-45deg);
    transition: 0.6s ease-in-out;
}

.near-event-card .card-control:hover button {
    width: 55%;
}

.near-event-card .card-control:hover button i {
    transform: rotate(80deg);
}

.near-event-card .card-control .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(255, 255, 255, 0.13);
    display: flex;
    z-index: 1;
}

.near-event-card .card-control:hover .overlay {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.near-event-card .card-control img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    transition: 0.5s;
}

.near-event-card .card-control:hover img {
    opacity: 0.3;
}

.near-event-card .card-control:hover button {
    background: #ffffff;
    color: #000;
}

/*///////////////////////////////////*/
/*///////////////////////////////////*/

.col-12 {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 30px auto;
    gap: 10px;
}

.col-4 {
    position: relative;
    width: 23.99%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
}

.col-4:hover {
    background: rgb(232, 251, 255);
}

.col-4 img {
    position: relative;
    width: 35%;
    min-width: 35%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.col-4 .write-up {
    position: relative;
    width: 100%;
    min-width: 100%;
    height: auto;
    padding: 0 10px;
    align-content: center;
}

.col-4 .write-up h2 {
    font-size: 14px !important;
    width: 70% !important;
    height: auto;
}

.col-4 .write-up p {
    font-size: 11px;
}

.col-4 .write-up span i {
    position: relative;
    width: auto;
    margin: 0 3px 0 0;
}

.col-4 .write-up span {
    font-size: 9px;
    color: #9f9f9f;
}

h2 {
    letter-spacing: -0.03;
}

.col-2 {
    width: 50%;
    position: relative;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}


/*///////////////////////////////////*/
/*///////////////////////////////////*/

/* Styling scoped to the parent class upcoming_event_section */
.upcoming_event_section {
    position: relative;
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    margin: 60px auto;
}

.upcoming_event_section .upcoming_event_view {
    position: relative;
    width: 90%;
    height: auto;
    padding: 0 30px;
    /*    background: green;*/
    margin-right: auto;
    margin-left: auto;
}

.upcoming_event_view .view_content {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.upcoming_event_view .view_content img {
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.upcoming_event_view .date {
    position: relative;
    bottom: 29px;
    width: fit-content;
    height: 50px;
    margin: 0px auto;
    display: block;
    padding: 10px 35px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    border: 5px solid #fff;
}

.upcoming_event_view .location {
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    color: #000;
    font-size: 12px;
    background-color: #ffff;
}

.upcoming_event_view .location i {
    margin-right: 5px;
}

.upcoming_event_view .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    line-height: 40px;
    font-size: 13px;
    color: #000;
    background-color: #ffff;
    cursor: pointer;
}

.upcoming_event_view .write-up {
    position: relative;
    width: 100%;
    height: auto;
}

.upcoming_event_view .write-up h2 {
    position: relative;
    font-size: 40px;
    line-height: 29px;
    width: 80%;
    margin-bottom: 20px;
    z-index: 2;
    color: #000;
    letter-spacing: -0.07;
}

.upcoming_event_view .write-up p {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    font-size: 14px;
}

.upcoming_event_view .write-up p .initial {
    position: relative;
    top: 2px;
    height: auto;
    margin: 0 6px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: #444;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 12px;
}

.upcoming_event_view .write-up h3 {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    font-size: 15px;
}

.upcoming_event_view .write-up .event-info {
    position: relative;
    width: 90%;
    height: auto;
    font-size: 13px;
    color: #4e4e4e;
    margin-bottom: 20px;
    display: block;
}

.categories {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 40px;
}

.categories li {
    padding: 10px 20px;
    background-color: #d9d9d9;
    width: fit-content;
    height: 35px;
    border-radius: 20px;
    font-size: 11px;
    white-space: nowrap;
    cursor: pointer;
}

.categories li:hover{
    background: rgba(2, 211, 249, 0.9);
}

.event-map {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-radius: 30px;
}

.event-map iframe {
    width: 100%;
    height: 300px;
}

.upcoming_event_section aside {
    position: relative;
    width: 30%;
    min-width: 30%;
    height:  fit-content;
}

.upcoming_event_section .archive_area {
    position: relative;
    width: 100%;
    height:  fit-content;
    background-color: #efefef;
    border-radius: 30px;
    padding: 40px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.upcoming_event_section .archive_area  .col-4{
    width: 100%;
}

.upcoming_event_section .payment_area {
    position: relative;
    width: 100%;
    height:  fit-content;
    flex: 1;
    /* Takes less space */
    background-color: #fff;
    border-radius: 30px;
    padding: 40px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.upcoming_event_section .payment_area h3 {
    font-size:20px;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
}

.upcoming_event_section .payment_area p {
    color: #444;
    margin-bottom: 20px;
    font-size: 12px;
}

.upcoming_event_section .payment_area select {
    width: 100%;
    height: 45px;
    margin: 10px auto;
    display: block;
}

.upcoming_event_section .payment_area input {
    width: 100%;
    height: 45px;
    margin: 10px auto;
    display: block;
}

.upcoming_event_section .payment_area .pay-btn {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: rgba(13, 13, 13, 0.9);
    color: #fff;
    border-radius: 20px;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px auto;
    display: block;
}

.upcoming_event_section .payment_area .pay-btn:hover {
    background-color: #0056b3;
}

.upcoming_event_view view_write-up {
    position: relative;
    width: 100%;
    height: auto;
}

.upcoming_event_view .view_write-up i {
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px;
    width: 40px;
    height: 40px;
    background-color: #444;
    color: #fff;
    line-height: 40px;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

.ticket-summary {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(64, 64, 64, 0.97);
    z-index: 1;
    display: none;
}

.ticket-summary .ticket-close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px 50px;
    color: #ffff;
    cursor: pointer;
    font-size: 20px;
}

.ticket-summary .holder {
    position: absolute;
    width: 500px;
    height: 90%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    overflow: hidden;
}

.ticket-summary .holder .action {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}

.ticket-summary .holder .action i {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.ticket-summary .holder figure {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.ticket-summary .holder figure span {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: rgb(64, 64, 64);
}

.ticket-summary .holder figure span:first-child {
    left: -40px;
}

.ticket-summary .holder figure span:last-child {
    right: -40px;
}

.ticket-summary .holder .ticket-img {
    position: relative;
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
}

.ticket-details {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.ticket-details p {
    position: relative;
    width: 50%;
    align-content: center;
    font-size: 13px;
    padding: 15px 40px;
    /*    background: #a57d7d;*/
}

.ticket-details p span {
    text-transform: capitalize;
    color: #696969;
    display: block;
    font-size: 11px;
}

.qr-code {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 0 60px;
}

.qr-code p {
    position: relative;
    display: block;
    font-size: 11px;
    width: 100%;
    height: 90px;
    overflow: hidden;
    text-align: left;
}

.qr-code img {
    position: relative;
    width: 100px;
    margin-right: 20px;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/


/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/*user process*/

.footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #000;
    justify-content: space-between;
    padding: 30px 70px;
    bottom: 0;
}

.footer nav {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 10px 40px;
    margin-bottom: 10px;
}

.footer nav li {
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    cursor: pointer;
}

.footer nav li:hover {
    color: #8d8d8d;
}

.footer hr {
    background-color: rgba(255, 255, 255, 0.2);
    width: 70%;
    height: 1px;
    margin-bottom: 10px;
}

.footer p {
    color: #717171;
    font-size: 12px;
}
