
Options -Indexes

ErrorDocument 403 /images/403.php

RewriteEngine On

RewriteRule ^403.php$ /index.php [R=301]

RewriteCond %{REQUEST_FILENAME} !-d 

RewriteCond %{REQUEST_FILENAME}\.php -f 

RewriteRule ^([^/]*)$ $1.php

RewriteCond %{REQUEST_FILENAME}\.html -f 

RewriteRule ^([^/]*)$ $1.html
